h1 {
    font-weight: bold;
}

.funcionario {
    height: 165px;
    color: #3A3633;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
    background: white;
    /* border: 1px solid black; */
}

.inicioalmoco, .fimalmoco, .botaoentrada, .botaosaida {
    border-radius: 5px;
    height: 80px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.inicioalmoco {
    background-color: #4ae4e9;
}

.fimalmoco {
    background-color: #FDD033;
}

.botaoentrada {
    background: #0d9a77;
}

.botaosaida {
    background: #CA2121;
}

.diaHoje {
    padding: 5px 15px 30px 15px;
}

@media(max-width:1000px) {
    .primeirasessao {
        display: flex;
        flex-direction: column;
    }
    .funcionario {
        height: 130px;
        order: 2;
        margin-top: 10px;
    }
}
